{% extends "base.html" %}

{% block contents %}
<!-- <div class="container">
    <form action='.' method = 'POST'>{% csrf_token %}
        {{form.as_p}}
        <input type = 'submit' value = 'Submit'/>
    </form>
</div> -->
<hr>
<h2>Breakout stocks for {{date}}</h2>
<div class="container">           
  <table class="table">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Close</th>
        <th>Box size</th>
        <th>SL</th>
        <th>Fundamentals</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in bostocks %}
      <tr>
        <td><a href="https://www.tradingview.com/chart/?symbol=NSE:{{stock.stock_name}}" 
          target="_blank" title= "Open NSE:{{stock.stock_name}} chart on tradingview">{{stock.stock_name}}</a></td>
        <td>{{stock.close}}</td>
        <td>{{stock.boxsize}}</td>
        <td>{{stock.sl}}</td>
        <td><a href="https://www.screener.in/company/{{stock.stock_name}}" target="_blank" title="Open Screener webpage for this stock">Screener/</a>
            <a href="https://ticker.finology.in/company/{{stock.stock_name}}" target="_blank" title="Open Finology webpage for this stock">Finology</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<h2>Breakdown stocks for {{date}}</h2>
<div class="container">           
  <table class="table">
    <thead>
      <tr>
        <th>Stock</th>
        <th>Close</th>
        <th>Box size</th>
        <th>SL</th>
        <th>Fundamentals</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in bdstocks %}
      <tr>
        <td><a href="https://www.tradingview.com/chart/?symbol=NSE:{{stock.stock_name}}" 
          target="_blank" title= "Open NSE:{{stock.stock_name}} chart on tradingview">{{stock.stock_name}}</a></td>
        <td>{{stock.close}}</td>
        <td>{{stock.boxsize}}</td>
        <td>{{stock.sl}}</td>
        <td><a href="https://www.screener.in/company/{{stock.stock_name}}" target="_blank" title="Open Screener webpage for this stock">Screener/</a>
            <a href="https://ticker.finology.in/company/{{stock.stock_name}}" target="_blank" title="Open Finology webpage for this stock">Finology</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
{%endblock%}